html {
  background: lemonchiffon;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#image {
  height: 150px;
}

body {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  justify-items: center;
}

.header {
  grid-column: 1 / span 3;
  display: grid;
  justify-items: center;
}

/* button {
  font-size: 16px;
  padding: 2px 5px;
} */

.addBurger {
  grid-column: 1 / span 3;
  display: grid;
  justify-items: center;
}

input {
  width: 150%;
  height: 20px;
  margin: 5px 0px;
  text-align: center;
}

.list {
  margin: 10px 0px;
  height: 25px;
}
