#job-name{
  margin-bottom: -15px;
}

.navbar {
  margin-bottom: 0px;
}

#menu-toggle {
  width: 250px;
  background: #2c3e50;
  color: white;
  /* position: absolute; */
  z-index: 2;
}

#wrapper {
  padding-top: 30px;
}

.list-item {
  padding-top: 10px;
  margin-left: -25px;
  font-size: 20px;
}


.list-text {
  display: none;

}

#sidebar-wrapper:hover .list-text {
  display: inline;
  position: absolute;
}


/* Sidebar */

#sidebar-wrapper {
  z-index: 1;
  position: fixed;
  width: 50px;
  padding-top: 20px;
  height: 100%;
  overflow-y: hidden;
  background: #333;
}

/* Main Content */

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  padding-left: 50px;
  /* border: 5px solid rgb(41, 187, 41); */
}

.border {
  border-right: 5px  #1f1f1f solid;
  height: 900px;
}

.header-content {
  background: #1f1f1f;
  text-align: center;
  border-radius: 10px;
  border: 1px gold solid;
  margin: 0px 2px 10px 2px;
  color: #ff9800;
  text-decoration: white underline;
  text-decoration-skip: ink;
}


.list-content {
  background: #eceff1;
  text-align: center;
  border-radius: 10px;
  border: 1px black solid;
  margin: 0px 2px 10px 2px;
  max-width: 400px;
}

.list-content li {
  list-style-type: none;
  padding: 5px;
} 

.sortable {
  padding: 0;
}

/* Change the width of the sidebar to display */

#wrapper.menuDisplayed #sidebar-wrapper {
  width: 200px;
  transition: 0.5s;
}

#wrapper.menuDisplayed .content {
  width: 360px;
}

#wrapper.menuDisplayed #page-content-wrapper {
  padding-left: 200px;
  transition: 0.5s;
}


#wrapper.menuDisplayed .content {
  max-width: 450px;
}

#wrapper.menuDisplayed .job-content {
  max-width: 480px;  
}

.sidebar-nav {
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  color: white;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
}

.sidebar-nav li a:hover {
  background: #00897b;
}

#profile_pic {
  text-align: center;
  background: white;
  border: 1px #2c3e50 solid;
  margin: 0px;
  padding-bottom: 10px;
}