html,
body {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url('../images/login3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

input {
  width: 150%;
  height: 20px;
  margin: 5px 0px;
  text-align: center;
}

.list {
  margin: 10px 0px;
  height: 25px;
}

/* the bottom of the page layout*/ 

#container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  text-align: center;
  margin-top: 17%;
  padding: 10px;
}

.textfront {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  text-align: center;
}

button {
  border-radius: 50%;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 19%;
}

.fonttext {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  text-align: center;
}

#center {
  margin-top: 25%;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

.form-control {
  /* margin-top: 2%; */
  margin-bottom: 2%;
}

#login{
  width: 50%;
}
/* #stage{
  margin-bottom:2%;
} */

/* .list {
  margin: 10px 0px;
  height: 25px;
} */

#div-container {
  margin-top: 3%;
  margin-bottom: 3%;
}

#div-container-event {
  margin-top: 5%;
  margin-bottom: 3%;
}

#required {
  margin-top: 2%;
  margin-bottom: 2%;
}

/* #submit{
  margin-top: 1%;
  margin-bottom: 1%;
} */